{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Dates Available{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
<h2> <font color="FF0000"> Calendar dates </font></h2>
    <hr>
        <table>
            <tr> 
                <th><font color="FF0000"></font>Listing URL</font></th>
                <th><font color="FF0000">Date</font></th>
                <th><font color="FF0000">Available</font></th>
                <th><font color="FF0000">Price</font></th>
            </tr>
        {% for date in dates %}
            <tr> 
                <td><input type="radio" id="id_{{date.listing_id}}" name="selected_lsiting" value="{{date.listing_id}}">
                <td> <font color="FF00FF">{{date.listing_url}}</font></td>
                <td> {{date.date}}</td>
                <td> {{date.available}}</td>
                <td> {{date.price}}</td>
            </tr>
        {% endfor %}
    
        </table>
        <input type="submit" value="Show Review">
{% endblock %}

